html {
  scroll-behavior: smooth;
}

body{
  margin:0px;
}

#header{
  text-align:center;
  font-size:24px;
  color: white;
  background-color: #4682B4;
  padding: 16px;
}

#topnav {
  overflow: hidden;
  background-color: #333;
  padding: 5px;
}

#topnav-container {
  width: 960px;
  margin: 0px auto;
}

#topnav-container a {
  float: left;
  font-weight: bold;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 17px;
  text-decoration: none;
}

#topnav-container a:hover {
  background-color: #ddd;
  color: black;
}

#desk{
  width:100%;
  background: linear-gradient(90deg, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 50%, rgba(211,211,211,1) 100%);
  padding-top: 16px;
  padding-bottom: 16px;
}

#column-container{
  display: table;
  width: 960px;
  margin: 0px auto;
  background-color:white;
  overflow: auto;
  box-sizing: border-box;
  border-color: rgba(211,211,211,1);
  border-style: solid;
  height: 600px;
}

#column-container-frame{
  height: 600px;
  width: 100%;
  margin-bottom: 16px;
}

#column-container-frame iframe {
  height: 100%;
  width: 100%;
  border: none;
}

#columnL{
  display: table-cell;
  padding: 16px;
  background:white; 
  text-align:center;
  width: 50%;
}

#columnR{
  display: table-cell;
  padding: 16px;
  background:white; 
  text-align:center; 
  border-left-style: dotted;
  border-left-color: lightgrey;
  width: 50%;
}

#list-div {
	display: table;
	text-align: left;
	width: 446px;
}

.box-egs {
	display: table-cell;
	border-left-style: solid;
	border-width: 3px;
	border-color: green;
	width:33.3%;
	padding: 0px 10px 0px 5px;
	font-size: 16px;
}

.box-egs b {
color: green;
align: center;
}

.button {
  background-color: green;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 32px;
}

.button:hover {
  opacity: 1;
}

#qrcode img {
	width: 50%;
	padding-bottom: 10px;
	padding-top: 10px;
}

#blueprint img {
	width: 100%;
	padding-top: 24px;
}

#footer{
    background-color: #4682B4;
    padding: 10px;
    text-align: center;
    color: white;
	font-size: 12px;
}	

a:hover {
  color: blue;
}

#footerborder {
    background-color: #333;
    height: 10px;
    width: 100%;
}

@media screen and (max-width:959px){
#topnav-container {
  width: 100%;
  margin: 0px auto;
}

#column-container{
  width:100%;
  margin:0px auto;
  background-color:white;
  overflow:auto;
}

#columnL{
  width:50%;
}

#columnR{
  width:50%;
}

#list-div {
	display: table;
	text-align: auto;
	width: 100%;
}

.box-egs {
	display: table-cell;
	border-left-style: solid;
	border-width: 3px;
	border-color: green;
	width:33.3%;
	font-size: 1.8vw;
}
}

@media screen and (max-width:640px){
#topnav-container {
  width: 100%;
  margin: 0px auto;
}

#column-container{
  width:100%;
  margin:0px auto;
  background-color:white;
  overflow:auto;
}

#columnL{
  width:auto;
  display: block;
}

#columnR{
  width:auto;
  display: block;
  border-left-style:none;
}

#list-div {
	display: table;
	text-align: auto;
	width: 100%;
}

.box-egs {
	display: table-cell;
	border-left-style: solid;
	border-width: 3px;
	border-color: green;
	width:33.3%;
	font-size:12px;
}
}